<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cykj.mapper.TbGoodsMapper">
<!--    添加-->
    <insert id="addGoods" parameterType="com.cykj.bean.TbGoods">
        insert into tbgoods (sname,sprice,snum,img,sdesc) VALUES (#{sname},#{sprice},#{snum},#{img},#{sdesc})
    </insert>

   <!--根据商品名称查询相关信息-->
    <select id="seGoods" resultType="com.cykj.bean.TbGoods">
        select * from tbgoods where
        <if test="sname !=null and sname !=''">
            and sname = like concat('%',#{sname},'%')
        </if>

    </select>


<!--    查询全部商品-->
    <select id="selAllGoods" resultType="com.cykj.bean.TbGoods">
        select * from tbGoods
    </select>

</mapper>